.App {
  height: 100vh;
  overflow-x: hidden;
  width: 100vw;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 28px;
  color: white;
  border-bottom: 1px solid rgba(174,174,174, 0.5);
  width: calc(100vw - 56px);
  background-color: #6D30E2;
  height: 7vh;
  -webkit-box-shadow: 0px 7px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 7px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 7px 8px 0px rgba(34, 60, 80, 0.2);
}

.headerText {
 font-size: 28px;
 font-weight: 900;
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contentWrapper{
  display: flex;
  width: 100vw;
  padding: 20px;;
  justify-content: center;
  height: 90vh;
}

.inputWrapper {
  margin-right: 10px;
  width: 30vw;
  /* border: 1px solid rgba(174, 174, 174, 0.5); */
  /* -webkit-box-shadow: 0px 1px 5px 1px rgba(174, 174, 174, 0.62);
  -moz-box-shadow: 0px 1px 5px 1px rgba(174, 174, 174, 0.62);
  box-shadow: 0px 1px 5px 1px rgba(174, 174, 174, 0.62); */
  padding: 0 10px;
  overflow-y: scroll;
}

.outputWrapper {
  width: 30vw;
  /* background-color: green; */
  border: 1px solid #6D30E2;
  border-radius: 6px;
}

textarea {
  display: block;
  outline: none;
  resize: none;
  width: 100%;
  height: 400px;
  border: 1px solid #6D30E2;
  border-radius: 6px;
  margin-bottom: 30px;
}

#canvas {
  border: 1px solid #6D30E2;
}

.output {
  display: inline-block;
}

#textarea{
  resize: none;
  width: 400px;
  height: 802px;
  border: 1px solid black;
}

.userFont {
  font-family: 'custom-font';
  font-size: 60px; 
  display: inline-block;
}